html {
    background-color: antiquewhite;
}
.warp {
    width: 100%;
    height: 800px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.warp1 {
    width: 100%;
    height: 800px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}